body{
    background-color:white ;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
}

.top{
    background-color: #9ccc5e;
    margin-bottom: -50%;
}
header{
    position: relative;
    margin-left: 40%;
}

.title{
    color: #199e59;
    font-size: xx-large;
    padding-left: 10%;
}
.about{
    color: white;
    font-weight: 200;
    font: 10px sans-serif;
    margin-left: 5%;

}
.hand{
    padding-left: 20%;
    margin-left: 24%;
    
}