*{
    display: grid;
    background: white;
}
/* body{
    background: white;
}
header{
    position: relative;
}
#logo {
    position: absolute;
    right: 50%;
}

.wrapper {
    position: block;
} */